<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button (click)="salir('', 'cancelar', undefined)" fill="clear" color="medium">
        <ion-icon name="arrow-back-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ titulo }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="form-container">
    <h2 class="ion-text-center ion-padding-bottom form-title">{{ data?.id ? 'Editar' : 'Nuevo'}} registro</h2>
    <form action="" [formGroup]="form">
      <ion-list lines="full" class="ion-no-padding ion-margin-bottom" formArrayName="detalles">
        @for (item of arrayDetalles; track $index) {
          <ion-item class="custom-item" [formGroupName]="$index">
            <ion-select class="custom-input" placeholder="Producto" formControlName="producto_id" (ionChange)="changeProduct($event, $index)">
              @for (item of arrayProductos; track $index) {
                <ion-select-option [value]="item.id">{{ item.nombre }}</ion-select-option>
              }
            </ion-select>
            <app-error 
              [validation]="'required'" 
              [message]="'El producto es requerido'" 
              [control]="getFormArray('detalles').controls[$index].get('producto_id')"
              [clase]="'error-text'"
            ></app-error>
          </ion-item>
          <ion-item class="custom-item" [formGroupName]="$index">
            <ion-label position="floating">Cantidad</ion-label>
            <ion-input type="number" class="custom-input" formControlName="cantidad" (ionChange)="changeCantidad($event, $index)" (ionBlur)="changeCantidad($event, $index)" [min]="1"></ion-input>
            <app-error 
              [validation]="'required'" 
              [message]="'La cantidad es requerido'" 
              [control]="getFormArray('detalles').controls[$index].get('cantidad')"
              [clase]="'error-text'"
            ></app-error>
            <app-error 
              [validation]="'min'" 
              [message]="'La cantidad debe ser mayor a 0'" 
              [control]="getFormArray('detalles').controls[$index].get('cantidad')"
              [clase]="'error-text'"
            ></app-error>
          </ion-item>
          <ion-item class="custom-item" [formGroupName]="$index">
            <ion-label position="floating">Precio</ion-label>
            <ion-input type="number" class="custom-input" [disabled]="true" readonly="true" formControlName="precio"></ion-input>
          </ion-item>
          <ion-item class="custom-item" [formGroupName]="$index">
            <ion-label position="floating">Observaciones</ion-label>
            <ion-textarea rows="4" class="custom-textarea" formControlName="observaciones"></ion-textarea>
          </ion-item>
        }
        <ion-item>
          <ion-label>Total: {{ form.get('total')?.value }}</ion-label>
        </ion-item>
      </ion-list>
      <div class="action-buttons">
        <ion-button expand="block" color="primary" class="submit-button" (click)="addProduct()">
          <ion-icon name="add-outline" slot="start"></ion-icon>
          Agregar producto
        </ion-button>
        <ion-button expand="block" color="primary" [disabled]="form.invalid" class="submit-button" (click)="guardar($event)">
          <!-- <ion-icon name="checkmark-outline" slot="start"></ion-icon> -->
          Aceptar
        </ion-button>
        <ion-button expand="block" fill="outline" color="medium" (click)="salir('', 'cancelar', undefined)" class="cancel-button">
          Cancelar
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
